node_modules
dist
build
coverage
package.json
package-lock.json
README.md
vite.config.js
.gitignore
.env
*.zip
eslint.config.js
.editorconfig
.eslintrc.cjs
.prettierrc
index.html
jsconfig.json

src/index.css
src/main.jsx