@import 'tailwindcss';

@font-face {
    font-family: LexendExa;
    src: url("/fonts/LexendExa.ttf");
}

html {
    font-family: LexendExa;
}

@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
